@use '../utils/mixins' as *;

.card {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  width: auto;

  &__img-container {
    width: 100%;
    height: auto;
    text-align: center;
  }

  &__img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 24px;
  }

  &__product-name {
    padding-bottom: 8px;
  }

  &__description {
    padding-bottom: 12px;
  }
}
