@use '../utils/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  width: auto;

  &__img-container {
    width: 100%;
    position: relative;
    padding-top: 100%;
  }

  &__img {
    top: 0;
    max-width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    padding-bottom: 16px;

    @include for-tablets {
      padding-bottom: 24px;
    }
  }

  &__product-name {
    padding-bottom: 8px;
  }

  &__description {
    padding-bottom: 12px;
  }
}
