@use '../utils/vars' as *;

.contact-form {
  margin-bottom: 48px;
  color: $text-color-secondary;
  &__input,
  &__textarea {
    width: 100%;
    background-color: $form-bg-color;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 14px 16px;
    font-size: 14px;
  }

  &__input {
    margin-bottom: 16px;

    &::placeholder {
      font-family: Manrope, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.15px;
      transition: color 0.2s;
    }

    &:hover {
      border: 1px solid rgba(219, 219, 219, 1);
      box-shadow: none;
    }

    &:hover::placeholder {
      color: $text-color-primary;
    }

    &:focus {
      outline: none;
      -webkit-tap-highlight-color: transparent;
      appearance: none;
      -webkit-appearance: none;
      box-shadow: 0 0 0 2px $button-color-primary;
    }
  }

  &__textarea {
    margin-bottom: 32px;
    resize: none;

    &:focus {
      outline: none;
      -webkit-tap-highlight-color: transparent;
      appearance: none;
      -webkit-appearance: none;
    }
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
