@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.contact-us {
  padding: 64px 20px;
  @include for-tablets() {
    padding: 120px 76px;
  }

  &__address-info {
    font-style: normal;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__info-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__info-label {
    color: $text-color-secondary;
    font-size: 14px;
  }

  &__info-value {
    text-decoration: none;
    color: $text-color-primary;
  }

  &__address {
    line-height: 140%;
  }
}
