.navigation {
  display: flex;
  justify-content: space-around;
  place-items: center;
  align-self: start;
  padding-top: 24px;

  grid-area: 1 / 1 / 2 / -1;

  &__content-wrapper {
    display: flex;
    gap: 24px;
  }
}
