@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $text-color-primary;
  &__label {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    position: absolute;
    transform: translateX(calc(-100% - 20px));
    color: inherit;
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: $button-color-primary;
  }

  &:not(:hover) .phone__label {
    @include visiually-hidden;
  }
}
