@use '../utils/mixins' as *;

.recommended {
  &__items {
    @include grid;
  }

  &__item {
    grid-column: 1/-1;

    @include for-desktop {
      grid-column: span 4;
    }
  }

  justify-content: center;
  padding-bottom: 96px;
}
