@use './utils/extends' as *;
@use './utils/vars' as *;

:root {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 0.15px;
}

html:has(#menu:target) {
  overflow: hidden;
}

html {
  color: $text-color-primary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}
